* {
    margin: 0px;
    padding: 0px;
}

/* Navbar */

#logo-img {
    width: 70px;
    height: auto;
}

.nav-item:hover {
    filter: drop-shadow(0 0 0.75rem #0d0d0b);
}

/* Activities */

#activities{
    position: relative;
    background-image: url('./images/ian-dooley-hpTH5b6mo2s-unsplash.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size:cover;
    background-attachment:fixed;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 50% 100%, 0% 75%);
}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 15%;
    font-size: 70px;
    color: white;
    filter: drop-shadow(0 2mm 2mm rgb(160, 0, 210));
    
}

@media (max-width:480px){
    .hero h1{
        position: absolute;
        font-size: 45px;
        left: 20%;
        right: 20%;
    }
}
@media (max-width:992px){
    .hero h1{
        position: absolute;
        font-size: 54px;
        left: 20%;
        right: 20%;
    }
}
@media (max-width:768px){
    .hero h1{
        position: absolute;
        font-size: 44px;
        left: 20%;
        right: 20%;
    }
}
@media (max-width:576px){
    .hero h1{
        position: absolute;
        font-size: 38px;
        left: 20%;
        right: 20%;
    }
}
.btn-hero{
    position: absolute;
    bottom:48%;
    left: 20%;
    right: 15%;
    filter: drop-shadow(0 1mm 1mm rgb(160, 0, 210));
}

@media (max-width:1200px){
    .btn-hero{
    position: absolute;
    bottom:38%;
    left: 20%;
    right: 15%;
    }
}

@media (max-width:900px){
    .btn-hero{
    position: absolute;
    bottom:38%;
    left: 20%;
    right: 15%;
    }
}
@media (max-width:768px){
    .btn-hero{
    position: absolute;
    bottom:35%;
    left: 20%;
    right: 15%;
    }
}
/* Destinations */

