* {
    margin: 0px;
    padding: 0px;
    
}

/* Navbar */

.navbar{
    filter: var(--filter);
}

#logo-img {
    width: 100px;
    height: auto;
}

.nav-item:hover {
    filter: drop-shadow(0 0 0.75rem grey
    );
}

@media (max-width:992px){

  .nav-item:hover { 
    filter: drop-shadow(0 0 0.75rem grey
    );
  }
}

:root{
    --filter: drop-shadow(0 2mm 2mm black);
}

/* Hero section */

#hero-sec {
    position: relative;
    background-image: url('./images/ian-dooley-DuBNA1QMpPA-unsplash.jpg');
    width: 100%;
    height: 79vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    clip-path: polygon(100% 0, 100% 68%, 50% 76%, 0 93%, 0 53%, 0% 0%);
}

.hero h1 {
    position: absolute;
    color: #ffc107;
    top: 20%;
    left: 10%;
    right: 10%;
    font-size: 70px;
    filter: var(--filter);

}


.btn-hero {
    position: absolute;
    top: 45%;
    left: 10%;
    filter: var(--filter);
}

/* Activities */

#activities {
    position: relative;
    width: 100%;
    height: 50vh;
    background: #acacac;
    background: -webkit-linear-gradient(0deg, #acacac 0%, #ffffff 100%);
    background: linear-gradient(0deg, #acacac 0%, #ffffff 100%);
    /* clip-path: polygon(50% 0, 100% 0, 100% 74%, 0 53%, 0 53%, 0 0); */

}

.mountain{
    position: relative;
    background-image: url(./images/pexels-eberhard-grossgasteiger-691668.png);
    background-position: top;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
}
.mountain h1{
    
    text-align: center;
    justify-content: center;
    color: black;
    text-shadow: 1px 1px 1px black;
}

.mountain p{
    text-align: center;
    margin-top: 25px;
    color: black;
    text-shadow: 2px 2px 2px #ffc107;

}

.activity-list h1{
    
    text-align: center;
    justify-content: center;
    color: black;
}
#destinations{
    background-color:linear-gradient(70deg, rgb(228, 255, 65), rgb(6, 62, 158))
    width:100%;
    height:100%
}
.carrd{
    padding-bottom: 35px;
}
@media (max-width:768px){
  .carrd {
    padding-bottom: 25px;
    linear-gradient(35deg, rgb(165, 180, 252), rgb(135, 220, 224), rgb(101, 154, 250), rgb(21, 134, 5), rgb(90, 125, 210))
    
}
}
#testimonial{
    background: radial-gradient(#e34696 15%, transparent 16%), linear-gradient(45deg, transparent 49%, #e34696 49% 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #e34696 49% 51%, transparent 51%);
        background-size: 1em 1em;
        opacity: 1
        width: 100vw;
        height: auto;
}
/* .inst{
    margin-left:auto;
}

@media (max-width:1200px){
    .inst{margin-left: 5px;}
} */

#why-us{
    width: 100%;
    height: 125vh;
    
}

.forms{
    background-color: #ffc107;
    padding: 20px;
    border-radius: 10px;
    filter: var(--filter);
}

footer{
    background-color: #ffc107;
    height: 5vh;
    width: 100%;
    position: fixed;
    bottom: 0%;
    filter: drop-shadow(0 0 0.75rem black);
}

.social{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    position: absolute;
    margin-top: 8px;

}
footer p{
    margin-left: 40%;
    margin-top: 8px;
}